<div class="cover-user-index">
  <div class="container d-flex flex-column align-items-center">
    <div class="row mt-5">
      <h1 class="font-weight-normal">ユーザ一覧</h1>
    </div>
    <div class="posts-grid">
      <% @users.each do |user| %>
        <%= link_to user_path(user), class: "post-card post-card-link" do %>
          <div class="post-card-image">
            <%= attachment_image_tag user, :profile_image, size: '80x80', fallback: "no_image.svg" %>
          </div>
          <div class="post-card-body">
            <p class="caption h4"><%= user.name %></p>
            <p class="caption"><%= "#{user.posts.published.count} 投稿" %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= paginate @users %>
  </div>
</div>