<%= form_with method: :get, local: true do |f| %>
    <!-- 球場名 -->
    <div>
      <%= label_tag :place_category_id, "球場名" %><br>
      <%= select_tag :place_category_id,
          options_from_collection_for_select(PlaceCategory.all, :id, :name, params[:place_category_id]),
          include_blank: "すべて" %>
    </div>

    <!-- ジャンル -->
    <div>
      <%= label_tag :genre_category_id, "ジャンル" %><br>
      <%= select_tag :genre_category_id,
          options_from_collection_for_select(GenreCategory.all, :id, :name, params[:genre_category_id]),
          include_blank: "すべて" %>
    </div>  

    <!-- 検索ボタン -->
    <div>
      <%= submit_tag "検索", class: "btn btn-primary" %>
    </div>
<% end %>
<% if posts.present? %>
  <% posts.each do |post| %>
    <p class="caption"><%= post.user.name %></p>
    <p>球場名：<%= post.place_category.name %></p>
    <p>ジャンル：<%= post.genre_category.name %></p>
    <!-- グルメ名 -->
    <p><%= link_to post.gourme_name, post_path(post.id) %></p>
    <!-- 画像 -->
    <%= attachment_image_tag post, :image, format: 'jpeg', size: "100x100" %>
  <% end %>

  <%= paginate posts %>
<% else %>
  <p>投稿がありません</p>
<% end %>
