<h1>新規投稿</h1>
<%= form_with model: @post, local:true do |f| %>
  
  <div class="field">
    <%= f.label :place_category_id, "球場名" %><br>
    <%= f.collection_select :place_category_id, PlaceCategory.all, :id, :name, prompt: "選択してください" %>
  </div>

  <div class="field">
    <%= f.label :genre_category_id, "ジャンル" %><br>
    <%= f.collection_select :genre_category_id, GenreCategory.all, :id, :name, prompt: "選択してください" %>
  </div>

  <h4>グルメ名</h4>
    <%= f.text_field :gourme_name %>
  <h4>店名</h4>
    <%= f.text_field :shop_name %>  
  <h4>価格（税込）</h4>
    <%= f.text_field :price %>
  <h4>感想</h4>  
    <%= f.text_area :content %>
  <h4>画像</h4>
    <%= f.file_field :image %>
    <p></p>
  <%= f.submit "投稿する" %>
<% end %>