<h2>グルメ名</h2>
<p><%= @post.gourme_name %></p>
<h2>店名</h2>
<p><%= @post.shop_name %></p>
<h2>価格（税込）</h2>
<p><%= @post.price %></p>
<h2>コメント</h2>
<p><%= @post.content %></p>
<h2>画像</h2>
<%= attachment_image_tag @post, :image, :fill, 100, 100, format: 'jpeg' %>
<%= link_to "ポストの編集", edit_post_path(@post.id) %><br>
<%= link_to "ポストの削除", post_path(@post.id),  data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %><br>
<%= link_to "投稿一覧へ", posts_path %>