<h2>グルメ名</h2>
<p><%= @post.gourme_name %></p>
<h2>店名</h2>
<p><%= @post.shop_name %></p>
<h2>価格（税込）</h2>
<p><%= @post.price %></p>
<h2>コメント</h2>
<p><%= @post.content %></p>
<%= link_to "戻る", :back %>